<page-header></page-header>
<mat-card>
  <mat-card-title></mat-card-title>
  <button [class.mat-elevation-z1]="true" style="margin-bottom: 5px; margin-top: 10px;" color="primary" (click)="onClickAdd()" mat-mini-fab>
    <mat-icon (click)="onClickAdd(null)" >add</mat-icon>
  </button>
  
  <mtx-grid [data]="filterBooks"
            [columns]="columns"
            [length]="total"
            [loading]="isLoading"
            [pageOnFront]="true"
            [pageIndex]="0"
            [pageSize]="10"
            [showColumnMenuButton]="false"
            [pageSizeOptions]="[10,20,50]">
  </mtx-grid>

  <ng-template #toolbarTpl>
  </ng-template>

</mat-card>
